main {
  display: flex;
  flex-flow: row;
  margin: 0px;
  min-height: 800px;
  padding: 0px;
}

main > article {
  background: #dddd88;
  border-radius: 7pt;
  border: 1px solid #cccc33;
  flex: 3 1 60%;
  margin: 4px;
  order: 2;
  padding: 5px;
}

main > nav {
  background: #ccccff;
  border-radius: 7pt;
  border: 1px solid #8888bb;
  flex: 1 6 20%;
  margin: 4px;
  order: 1;
  padding: 5px;
}

main > aside {
  background: #ccccff;
  border-radius: 7pt;
  border: 1px solid #8888bb;
  flex: 1 6 20%;
  margin: 4px;
  order: 3;
  padding: 5px;
}

header, footer {
  background: #ffeebb;
  border-radius: 7pt;
  border: 1px solid #eebb55;
  display: block;
  margin: 4px;
  min-height: 100px;
  padding: 5px;
}

/* Too narrow to support three columns */
@media all and (max-width: 640px) {
  main, #page {
    flex-direction: column;
  }

  main > article, main > nav, main > aside {
    /* Return them to document order */
    order: 0;
  }

  main > nav, main > aside, header, footer {
    max-height: 50px;
    min-height: 50px;
  }
}