/// @name color
/// @param {string | $color_name} $color
/// @returns {string | color} pre-defined color
/// @link https://coolors.co/404040-287aa9-21b6a6-c0c0c0-dc6305

@function color($color_name) {
  @if map_has_key($color, $color_name) {
    @return map_get($color, $color_name);
  }
  @warn 'undefined `#{$color_name}` in colors';
  @return null;
}

$color: (
  blue      : rgba(40, 122, 169, 1),
  charcoal  : rgba(64, 64, 64, 1),
  orange    : rgba(220, 99, 5, 1),
  silver    : rgba(192, 192, 192, 0.9),
  turquoise : rgba(33, 182, 166, 1),
);

$fib: (
  0,
  1,
  1,
  2,
  3,
  5,
  8,
  13,
  21,
  34,
  55,
  89,
  144,
  233,
  377,
  610,
  987,
  1597,
  2584,
  4181,
  6765,
  10946,
);

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  padding-bottom: nth($fib, 11);
}

code {
  font-family: Courier, Monaco, monospace;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

svg {
  height: nth($fib, 9);
  width: nth($fib, 9);
}

main {
  display: flex;
  flex-flow: row;
  margin: 0px;
  min-height: 800px;
  padding: 0px;

  & > article {
    background: #dddd88;
    border-radius: 7pt;
    border: 1px solid #cccc33;
    flex: 3 1 60%;
    margin: 4px;
    order: 2;
    padding: 5px;
  }

  & > nav {
    background: #ccccff;
    border-radius: 7pt;
    border: 1px solid #8888bb;
    flex: 1 6 20%;
    margin: 4px;
    order: 1;
    padding: 5px;
  }

  & > aside {
    background: #ccccff;
    border-radius: 7pt;
    border: 1px solid #8888bb;
    flex: 1 6 20%;
    margin: 4px;
    order: 3;
    padding: 5px;
  }
}

header, footer {
  border: 1px solid #eebb55;
  display: block;
  margin: 4px;
  min-height: 100px;
  padding: 5px;
}

@media all and (max-width: 640px) {
  main {
    flex-direction: column;
  }

  main > article, main > nav, main > aside {
    /* Return to document order */
    order: 0;
  }

  //main > nav, main > aside, header, footer {
  //  max-height: 50px;
  //  min-height: 50px;
  //}
}

#menu {
  align-content: space-between;
  align-items: center;
  display: flex;
  background: white;
  bottom: 0;
  height: nth($fib, 11);
  left: 0;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  z-index: 10;
}